<section data-test="transactions-table-container" class="transactions-table">
  <table data-test="transactions-table">
    <thead data-test="transactions-table-head">
      <tr>
        <th>Titulo</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody data-test="transactions-table-body">
      <tr>
        <td>Desenvolvimento Web</td>
        <td>R$ 2000</td>
        <td>Deposito</td>
        <td>{{ placeholderDate }}</td>
      </tr>
      <tr>
        <td>Desenvolvimento Web</td>
        <td>R$ 2000</td>
        <td>Deposito</td>
        <td>{{ placeholderDate }}</td>
      </tr>
      <tr>
        <td>Desenvolvimento Web</td>
        <td>R$ 2000</td>
        <td>Deposito</td>
        <td>{{ placeholderDate }}</td>
      </tr>
    </tbody>
  </table>
</section>
