<section data-test="transactions-table" class="transactions-table">
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Desenvolvimento Web</td>
        <td>R$ 2000</td>
        <td>Deposito</td>
        <td>{{ placeholderDate }}</td>
      </tr>
      <tr>
        <td>Desenvolvimento Web</td>
        <td>R$ 2000</td>
        <td>Deposito</td>
        <td>{{ placeholderDate }}</td>
      </tr>
      <tr>
        <td>Desenvolvimento Web</td>
        <td>R$ 2000</td>
        <td>Deposito</td>
        <td>{{ placeholderDate }}</td>
      </tr>
    </tbody>
  </table>
</section>
