@import url('../../styles.scss');

.summary {
  
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: -6rem;
  }

  &-card {
    background-color: var(--shape);
    padding: 1.5rem;
    border-radius: .25rem;
    color: var(--text-title);

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    strong {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 500;
      display: block;
    }


    &:last-of-type {
      background-color: var(--green);
      color: var(--shape);
    }
  }
  
}