<div data-test="summary" class="summary-container">
  <div data-test="summary-card" class="summary-card">
    
    <header data-test="summary-header">
      <p data-test="summary-header-title">Entradas</p>
      
      <img data-test="summary-header-img" 
        src="../../assets/images/income.svg" 
        alt="income - entrada"
      >
    </header>

    <strong data-test="summary-income">R$ 1000</strong>

  </div>
  
  <div data-test="summary-card" class="summary-card">
    
    <header data-test="summary-header">
      <p data-test="summary-header-title">Entradas</p>
      
      <img data-test="summary-header-img" 
        src="../../assets/images/outcome.svg" 
        alt="income - entrada"
      >
    </header>

    <strong data-test="summary-income">-R$ 500</strong>

  </div>
  
  <div data-test="summary-card" class="summary-card">
    
    <header data-test="summary-header">
      <p data-test="summary-header-title">Entradas</p>
      
      <img data-test="summary-header-img" 
        src="../../assets/images/total.svg" 
        alt="income - entrada"
      >
    </header>

    <strong data-test="summary-income">R$ 500</strong>

  </div>

</div>